// container  size
$xs: 320px;
$sm: 767px;
$md: 991px;
$lg: 1199px;

///font

$main-font:  'Open Sans', sans-serif;

//colors
$main-color: #00BD9C;
$lite-color: #ffffff;
$backgr-color: #FBFCFC;
$text-color: #84939F;
$dark-color: #2C3F52;
$border-color: #E6EBF0;
$second-border-color: #E6E6E6;